@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer base {
  html {
    cursor: default;
  }
  a[href],
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]) {
    cursor: pointer;
  }
}
